.nav {
  display: flex;
  gap: 15px;
}

.nav :is(a) {
  text-decoration: none;
  color: black;
  cursor: pointer;
  background-color: #bc7fbb;
  border-color: transparent;    
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.nav :is(a):hover {
    background-color: #6f4785;
    color: #d8cce7;
}
